*.mod
.DS_Store
*.000*
nautilus
extract_ab
filename
*.log
*.o
nlso_tail.d
*.tmp
*.out
nautilus_original/nautilus
git_infos.f90
profiling/
nautilus_outputs
nautilus_select_outputs
*.ab
nautilus_rates
archive/
unitary_tests
tests/
old_simulation/
DOC/nautilus.bib.bak
DOC/nautilus_documentation.aux
DOC/nautilus_documentation.bbl
DOC/nautilus_documentation.blg
DOC/nautilus_documentation.idx
DOC/nautilus_documentation.ilg
DOC/nautilus_documentation.ind
DOC/nautilus_documentation.synctex.gz
DOC/nautilus_documentation.tex.bak
DOC/nautilus_documentation.toc
DOC/nautilus_documentation.pdf
nautilus_major_reactions
*.bak
nautilus_trace_major
example_simulation/*.pdf
example_simulation/*.reaction
example_simulation/*.percentage
example_simulation/selected_output.dat
example_simulation/selected_output.in
Chemisorption/*.pdf
Chemisorption/*.reaction
Chemisorption/*.percentage
Chemisorption/selected_output.dat
Chemisorption/selected_output.in
*.pdf
*.tmp
*.man
*.backup
Stuff/*
html/

